<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/header.ejs') %>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <form action="/search" method="POST">
      <h3>Search for a restaurant: </h3>
      <input type="text" name="restaurant_search" />
      <input type="submit" value="SEARCH">
    <br>
    <% for (i in businesses){ %>
      <h3><%=businesses[i].name%> - <%=businesses[i].location.address1%></h3>
    <% } %>
    <%- include ('./partials/jquery.ejs') %>
  </body>
</html>
