<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/header.ejs') %>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="container1">
      <div class="subheader-container">
        <div class='subheader'>
          <h4>CrowdSomm collects reviews of individual dishes and drinks from your favorite restaurants to help others decide what to order.</h4>
        </div>
      </div>
      <form action="/search" method="POST">
        <h3>Find a Restaurant:</h3>
        <div class="form-input-container">
          <div class="form-group">
            <label for="restaurant_name">Name:</label>
            <div class="input-1">
              <input type="text" class="form-control" name="restaurant_name" /><br>
            </div>
          </div>
          <div class="form-group">
            <label for="restaurant_location">Zip or City, State:</label>
            <div class="input-1">
              <input type="text" class="form-control" name="restaurant_location" /><br>
            </div>
          </div>
          <input type="submit" value="SEARCH">
        </div>
      </form>
      <br>
      <% if(businesses){ %>
        <div class='business-results-container'>
        <% for(let i=0; i < businesses.length; i++){ %>
          <div class="business-result">
            <h3><a href='/restaurants/<%=businesses[i].id%>'><%=businesses[i].name%></a></h3><p><%=businesses[i].location.address1%></p>
          </div>
        <% } %>
        </div>
      <% } %>
    </div>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
