<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <h1> <%=restaurant.name%></h1>
    <h3> <%=restaurant.address%> </h3>
    <div>
      <% if(user){%>
        <a href="/restaurants/<%=restaurant.id%>/newdish">Add a New Dish</a>
      <% } else { %>
        <p><a href='/users/login'>Log In</a> or <a href='/users/signup'>Sign Up</a> to leave a review</p>
      <% } %>
      <% if(!dishes[0]){ %>
        <p>This restaurant doesn't have any dishes to review yet.</p>
      <% } else { %>
        <% for(dish of dishes){ %>
          <h3><%=dish.dish_name%></h3>
          <% if(user){ %>
            <a href='/restaurants/<%=restaurant.id%>/<%=dish.id%>'>Review this Dish</a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </body>
</html>
