<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <h1> <%=restaurant_name%></h1>
    <h3> <%=restaurant_address%> </h3>
    <div>
      <% if(user){%>
        <a href="/restaurants/<%=restaurant_id%>/newreview">Add New Review</a>
      <% } %>
    </div>
    <% if(reviews[0]){ %>
      <div>
        <% for(let i=0; i< reviews.length; i++){ %>
          <div>
            <h3><%=reviews[i].dish_name%> - <%=reviews[i].stars%> Stars</h3>
            <p><%=reviews[i].review_text%></p>
            <% if(user && reviews[i].user_id === user._id){%>
              <a href="/restaurants/<%=restaurant_id%>/<%=reviews[i].id%>">Delete Review</a>
            <%}%>
          </div>
        <% } %>
    </div>
  <% } else { %>
    <div>
      <h4>No Reviews for dishes at <%=restaurant_name%> yet. </h4>
    </div>
  <% } %>
  </body>
</html>
