<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <h1> <%=restaurant_name%></h1>
    <h3> <%=restaurant_address%> </h3>
    <p> <%=reviews[0].stars%> </p>
  </body>
</html>
