<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <h1> <%=restaurant_name%></h1>
    <h3> <%=restaurant_address%> </h3>
    <div>
      <% if(user){%>
        <a href="/restaurants/<%=restaurant_id%>/newreview">Add New Review</a>
      <% } %>
    </div>
    <% if(averages[0]){ %>
      <div>
        <% for(dish of averages){ %>
          <div>
            <h3><%=dish.dish_name%> - <%=dish.avgStars%> Average Stars</h3>
          </div>
        <% } %>
    </div>
  <% } else { %>
    <div>
      <h4>No Reviews for dishes at <%=restaurant_name%> yet. </h4>
    </div>
  <% } %>
  </body>
</html>
